.panel-default {
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

.panel-body {
    font-family: 'VT323', monospace;
}

.panel-body h1 {
    font-size: 12vh;
    color: #4CE331;
}

.panel-body h2 {
    margin: 30px;
}